body {
  background-image: url("./../images/bg-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero__text,
.hero__p {
  text-align: center;
}
.register {
  display: block;
  margin: 1rem auto;
}
.header {
  margin: 1.5rem 0;
}
